target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.properties
*.yml
robots.txt
sitemap.xml

yandex_*.html

/src/main/resources/db/populateDB.sql