#container {
    max-width: 1000px;
    margin: 0 auto;
}

#first {
    margin-top: 15px;
    width: 100%;
    height: 150px;
    background: #e9f6fe;
    border-radius: 8px;
    border: 1px solid #bedef2;
}

.top-margin {
    margin-top: 150px !important;
}

#first-yellow {
    margin-top: 150px;
    width: 100%;
    height: 150px;
    background: #ffffe0;
    border-radius: 8px;
    border: 1px solid #D7D7B8;
}

#noBtn {
    margin-top: 10px;
    padding: 7px;
    background: #fffae0;
    border-radius: 3px;
    border: 1px solid #9f8761;
    cursor: pointer;
}

#yesBtn {
    background: #e0fac0;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #65915b;
}

#button-block {
    width: 100%;
}

.center {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 5px;
    font-size: 21px;
    color: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.transcription {
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    color: #555;
    font-family: "Doulos SIL","Gentium","TITUS Cyberbit Basic","Junicode","Aborigonal Serif","Arial Unicode MS","Lucida Sans Unicode","Chrysanthi Unicode"!important;
}

.translate {
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.next-step {
    margin-top: 10px;
    padding: 3px;
    background: #e9f6fe;
    border-radius: 3px;
    border: 1px solid #bedef2;
    cursor: pointer;
    float: right;
}

#second {
    margin-top: 15px;
    width: 100%;
    height: 100px;
    background: #ffffe0;
    border-radius: 8px;
    border: 1px solid #D7D7B8;
}

#second-white {
    margin-top: 15px;
    width: 100%;
    height: 100px;
    background: white;
    border-radius: 8px;
    border: 1px solid #000;
}