<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${dictionary.name}"></title>
    <link rel="stylesheet" th:href="@{/resources/css/datatables.min.css}">
</head>
<body>
<div>
    <h1>Список слов</h1>
    <div>
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>Слово</th>
                    <th>Транскрипция</th>
                    <th>Перевод</th>
                    <th>Статус</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</body>
<script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/resources/js/datatables.min.js}"></script>

<script>

    $(document).ready( function () {
        $('#myTable').DataTable({
            "paging": true,
            columns: [
                { data: 'word' },
                { data: 'transcription' },
                { data: 'translate' },
                {
                    render: function (data, type, row, meta) {
                        if (row['status'] === 0) {
                            return '0%';
                        }
                        if (row['status'] === 1) {
                            return '15%';
                        }
                        if (row['status'] === 2) {
                            return '30%';
                        }
                        if (row['status'] === 3) {
                            return '45%';
                        }
                        if (row['status'] === 4) {
                            return '55%';
                        }
                        if (row['status'] === 5) {
                            return '70%';
                        }
                        if (row['status'] === 8) {
                            return '85%';
                        }
                        if (row['status'] > 7) {
                            return '100%';
                        }
                    }
                }
            ],
            ajax: {
                url: '/dictionary/get-words',
                type: 'GET',
                dataSrc: ''
            },
        });
    } );

</script>

</html>