<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список словарей</title>
</head>
<body>
    <h1>Список словарей</h1>
    <div th:each="dictionary : ${dictionaries}">
        <p><a th:href="@{'/dictionary/' + ${dictionary.id}}" th:text="${dictionary.name}"></a><span th:text="' ('+ ${dictionary.words.size()} + ')'"></span></p>
        <p><a th:href="@{'/study/' + ${dictionary.id}}">Учить слова</a><span th:text="' ('+ ${wordsNew} + ')'"></span></p>
        <p><a th:href="@{'/repeat/' + ${dictionary.id}}">Тренировать слова</a><span th:text="' ('+ ${wordsCountRepeat} + ')'"></span></p>
    </div>
</body>
</html>