<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Урок</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<section>
    <div id="container">
        <div id="first" class="top-margin">
                <p class="center" th:text="${word.word}"></p>
                <p class="transcription" th:text="${word.transcription}"></p>
            <span class="sound">
            <img id="speak" src="/resources/images/speak.png" />
            </span>
            <input type="hidden" id="music" th:value="${word.sound}">
        </div>
        <div id="second">
            <p class="translate" th:text="${word.translate}"></p>
        </div>
        <div id="button-block">
            <button class="next-step" onclick="window.location.href = '/study/lesson1';">Следующее слово »</button>
        </div>
        <div id="description">
            <p th:utext="'Пример: <b>' + ${word.example}+'</b>'"></p>
            <p>Cambridge: <a target="_blank" th:href="'https://dictionary.cambridge.org/ru/%D1%81%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D1%8C/%D0%B0%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9/'+${word.word}">
                Cambridge</a></p>
            <p>Oxford: <a target="_blank" th:href="'https://www.oxfordlearnersdictionaries.com/definition/english/'+${word.word}+'_1?q='+${word.word}">Oxford</a></p>
        </div>
    </div>
</section>
</body>
<script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
<script>
    $('.sound').click(function () {
        let url = $('#music').val();
        new Audio(url).play(); return false;
    });
</script>
</html>